*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

/*slider*/

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 500px;
    margin-top: 80px;
  }


 /*Galeria*/

  .galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 20px;
    padding: 40px 0px;
    overflow: hidden;
   }
   
   .galeria img{
     width: 100%;
     vertical-align: top;
     height: 400px;
     object-fit: cover;
    }
    
    .galeria > a {
     display: block;
     position: relative;
     overflow: hidden;
     box-shadow: 0 0 6px black;
    }
    
 
  .item { 
  flex: 0 32%;
  margin-bottom: 1%; /*(100-32*3)/2*/
  margin-top: 1em;

   }

.linea{
  background: #FCC86C;
  height: 5px;
  width: 100%;
  display: block;
}


 /*Títulos*/
.titulo{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  margin-bottom: 20px;
  margin-top: 90px;
  padding-left: 40px;
  }


  
